.search-container{
  height: 50px;
  display: flex;
  // justify-content: center;
  // align-items: center;
}

.search-form{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translate(-50%, -50%);
  background: white;
  transition: all 0.3s ease;
  // &.focus{
  //   box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  // }
}

.search-input{
   position: absolute;
   left: 20px;
   font-size: 14px;
   background: none;
   color: #5a6674;
   width: 300px; 
   height: 30px;
   border: none;
   appearance: none;
   outline: none;

}

.search-button{
  position: absolute;
  top: 10px;
  right: 25px;
  height: 20px;
  width: 10px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none!important;
  cursor: pointer;
}